{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">

  <h2>About the Playlist App</h2>
  <p>
    Our Team!
  </p>

{{#each employees}}

  <div class="ui card">
    <div class="image">
      <img src="{{image}}">
    </div>
    <div class="content">
      <a class="header">{{name}}</a>
      <div class="description">
        Age: {{age}} <br>
        Favourite Medium: {{favMedium}} <br>
        Current Works Displayed: {{artworks}} 
      </div>
    </div>
  </div>

{{/each}}

</section>
